{% extends 'base_login.html' %}

{% block title %}
Nueva Contraseña
{% endblock %}

{% block content %}

<div class="container">

    <div class="row justify-content-center align-items-center"
        style="min-height: 85vh;">

        <div class="col-md-5">

            <div class="card bg-black border-secondary shadow-lg">

                <div class="card-body p-5">

                    <!-- TITULO -->

                    <div class="text-center mb-4">

                        <h2 class="fw-bold text-info">

                            Nueva Contraseña

                        </h2>

                        <p class="text-secondary">

                            Ingresa tu nueva contraseña

                        </p>

                    </div>

                    <!-- FORM -->

                    <form method="POST">

                        <div class="mb-4">

                            <label class="form-label">

                                Nueva Contraseña

                            </label>

                            <input type="password"
                                name="password"
                                class="form-control"
                                required>

                        </div>

                        <div class="d-grid">

                            <button type="submit"
                                class="btn btn-info fw-bold">

                                Actualizar Contraseña

                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}