{% extends 'base_dashboard.html' %}

{% block title %}
Detalle Producto
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>

            <h2 class="fw-bold">
                Detalle Producto
            </h2>

            <p class="text-secondary">
                Información completa del producto
            </p>

        </div>

        <a href="/inventario"
            class="btn btn-secondary">

            Volver

        </a>

    </div>

    <div class="card shadow">

        <div class="card-body">

            <div class="row">

                <!-- FOTO -->

                <div class="col-lg-4 text-center mb-4">

                    {% if producto.foto %}

                    <img src="{{ url_for('static',
                    filename='uploads/productos/' + producto.foto) }}"
                        class="img-fluid rounded shadow"
                        style="max-height: 300px;">

                    {% endif %}

                </div>

                <!-- INFO -->

                <div class="col-lg-8">

                    <div class="row">

                        <div class="col-md-6 mb-3">

                            <strong>Producto:</strong>
                            <br>

                            {{ producto.nombre }}

                        </div>

                        <div class="col-md-6 mb-3">

                            <strong>Categoría:</strong>
                            <br>

                            {{ producto.categoria.nombre }}

                        </div>

                        <div class="col-md-6 mb-3">

                            <strong>Marca:</strong>
                            <br>

                            {{ producto.marca }}

                        </div>

                        <div class="col-md-6 mb-3">

                            <strong>Stock:</strong>
                            <br>

                            {{ producto.stock }}

                        </div>

                        <div class="col-md-6 mb-3">

                            <strong>Precio Compra:</strong>
                            <br>

                            $ {{ producto.precio_compra }}

                        </div>

                        <div class="col-md-6 mb-3">

                            <strong>Precio Venta:</strong>
                            <br>

                            $ {{ producto.precio_venta }}

                        </div>

                        <div class="col-12">

                            <strong>Descripción:</strong>
                            <br>

                            {{ producto.descripcion }}

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}